# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/
Big O/
Ch 01. Arrays and Strings/
Ch 02. Linked Lists/
Ch 03. Stacks and Queues/
Ch 04. Trees and Graphs/
Ch 05. Bit Manipulation/
Ch 06. Math and Logic Puzzles/
Ch 07. Object-Oriented Design/
Ch 08. Recursion and Dynamic Programming/
Ch 09. Scalability and Memory Limits/
Ch 10. Sorting and Searching/
Ch 13. Java/
Ch 15. Threads and Locks/
Ch 16. Moderate/
Ch 17. Hard/
CtCILibrary/
Introduction/
